
.page-wrapper {
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    position: sticky !important;
    top: 0;
    z-index: 100;
}

.container {
    width: 100%;
}

.navbar>.container-fluid{
    display: flex;
    justify-content: normal;
    /*flex-grow: 2;*/
}
.navbar-collapse {
    display: flex;
    justify-content: left;
    /*flex-grow: 0;*/
}
.me-auto {
    margin: 0 !important;
}
.form-control{
    width: 200px;
}
.btn-outline-success {
    width: 300px;
    border: 2px solid #1387f6;
    color: #1387f6;
}

.container-fluid a>svg{
    float: left;
    width: 24px;
    height: 24px;
}

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../photos/pizza.png") ;
    height: 346px;
    background-size: cover;
}

.light-title {
    display: flex;
    justify-content: center;
    background-color: white;
    opacity: .7;
    width: 100%;
}

.menu-container {
    width: 100%;
    padding: 0;
    border: 1px solid lightgrey;
}

.build-pizza-header {
    margin: 40px 30px;
    padding-left: 70px;
}


.nav-item-pizza:active {
    color: black;
    background-color: #e7e7e7;
}


.card {
    width: 99%;
    padding:0;
    margin: 10px;
}
.card-body{
    margin: 0;
    padding: 0;
}

.card-title{
    width: 100%;
    color: white;
    background-color: #396bd9;
}
.crust-sub-header {
    padding: 10px;
}

h4 {
    width: 100%;
    background-color: #1387f6;
    color: white;
}
.dropdown-toggle {
    white-space: nowrap;
}

.btn {
    background-color: white;
    color: black;
    float: right;
    width: 100%;
    margin: 0;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
}

.dropdown-menu.show {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.cheese-sauce {
    padding: 10px;
}
.pagination {
    background-color: #e7e7e7;
    display: flex;
    justify-content: right;
    margin-top: 10px;
    margin-right: 10px;
}

.menu-next-btn {
    background-color: #1387f6;
    color: white;
}

.form-check {
    margin-left: 10px;
}