* {
    margin: 0;
    padding: 0;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-container{
    background-color: #000;
}

.main-logo {
    height: 32px;
    width: 48px;
}

.sub-logo {
    height: 30px;
    width: 48px;
}

