h1 {
    display: flex;
    justify-content: center;
    color: red;
}

#photo-spot {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 80vh;
    width: 100%;
}