.page-wrapper{
    background-color: #ead0ad;
   height:  100vh;
}

#map {
    height: 60em;
    width: 90em;
}

.card-body {
    width: 10em;
    height: auto;
}

.img {
    width: 100%;
    height: auto;
}