*{
    max-width: 900px;
    margin: auto;
    text-align: center;
}

body {
    background: url(/photos/stock-market.jpg);
    color: #fff;
}

.list {
    max-width: 350px;
    margin: auto;
    text-align: center;
}
table {
    color: #fab543;
    font-size: x-large;
    border: 1px solid #fab543;
}

h1 {
    color: #fab543;
}


.populatedImage {
    height: 250px;
    width:450px;
}

img {
    float: left;
    border-radius: 25%;
}

img:hover {
    transform: scale(1.5);
}
/*td {*/
/*    border-bottom: 1px solid #000;*/
/*    border-right: 1px solid #000;*/
/*    border-top: 1px solid #000;*/
/*    border-collapse: collapse;*/
/*}*/

/*table {*/
/*    width: 100%;*/
/*    border-collapse: collapse;*/
/*}*/